.restaurantsContainer {
    &.listRestaurants {
        display: block;
    }

    &.menuRestaurant {
        display: none;
    }
}   
.restaurantButton {
    color: #000000;
    border-color: #58bccc;
    border-radius: 4px;
    font-weight: 600;
    font-size: 30px;
}