@import "../_variables.scss";

.menu {
    &.show-restaurants {
        display: none;
    }
    &.show-menu {
        display: block;
    }   
}

.food-item-card {
    border: solid 2px $borderColor;
    text-align: left;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 22px;
        font-weight: bold;
    }
    .tag-container p {
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        padding: 1px 2px;
        margin: 5px 0;
    }
    .price-tag {
        font-size: 18px;
        font-weight: bold;
    }
    .calories-tag {
        background-color: $primaryColor;
        color: #ffffff;
    }
    .tag-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .type-tag {
        background-color: $secondaryColor;
        color: #ffffff;
    }
    .side-tag {
        background-color: $accentColor;
    }
}
