$orderHeadingColour: #258ffe;

.cart-logo {
    font-size: 1.2rem;
    color: $orderHeadingColour
}

.order-heading {
    display: inline;
    color: $orderHeadingColour;
}

.order-button {
    background-color: #28a644;
}

