.navbar {
    display: flex;
    justify-content: space-between;  
}

.changeRestaurantButton {
    border-style: none;
    background-color: #ffffff;  
    color: #2e7cf6;
    font-weight: bold;
    margin-right: 8px;
}
.changeRestaurantButton {
    &.listRestaurants {
        display: none;
    }

    &.menuRestaurant {
        display: block;
    }    
}


