body {
    min-width: 370px;
}

.semi-transparent {
    --bs-bg-opacity: 0.7;
}

.burger-image {
    object-fit: cover;
    background-size: 100%;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    max-height: 400px; 
    height: 60vw;
}

@media screen and (max-width: 370px) {
    
    .burger-image {
        height: 225px;
    }
}